.base-setting-container {
  display: flex;
  flex-direction: row;
  border: solid 2px;
  border-color: lightgray;
  border-radius: 5px;
  margin: 10px 0px;
  padding-bottom: 30px;
}

.setting-row-general,
.setting-row-title {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.setting-row-title {
  width: 20%;
}

h5,
p {
  margin: 0;
}

.setting-row-general p,
.setting-row-title p {
  overflow-wrap: normal;
}

@media screen and (max-width: 768px) {
  .base-setting-container {
    flex-direction: column;
    margin: 0px;
    padding: 5px;
  }

  .setting-row-title {
    width: 100%;
  }

  .setting-row-general,
  .setting-row-title {
    padding: 10px;
  }
}
